.Navbar {
  margin-top: 0px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
